img {
    max-width: 165px;
}

p {
    margin-top: -10px;
    color: #fff;
    text-align: center;
}

#fandomHandler {
    position: absolute;
    top: 40px;
    left: 780px;
    background-color: antiquewhite;
    height: 725px;
    width: 700px;
    border-radius: 20px;
}

#fandomHeader {
    position: absolute;
    top: 115px;
    left: 3px;
}